{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>3 Col Portfolio - Start Bootstrap Template</title>
    <link href="{% static 'library_server/css/3-col-portfolio.css' %}" rel="stylesheet">
    <link href="{% static 'library_server/css/bootstrap.css' %}" rel="stylesheet">
</head>