{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% include 'library_server/head.html' %}
<body>

{% include 'library_server/navigation_bar.html' %}
<!-- Page Content -->
<div class="container">
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Borrow Return</h1>
        </div>
    </div>
    <!-- Projects Row -->
    {% if already_borrowed %}
        <h3>book return successful</h3>
    {% endif %}
    {% if not already_borrowed %}
        <h3>{{ user.get_username }} didn't borrow that book</h3>
    {% endif %}
    <hr>
</div>
<hr>
<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Software Engineering 2016</p>
        </div>
    </div>
</footer>
</div>
<script src="{% static 'library_server/js/jquery.js' %} "></script>
<script src="{% static 'library_server/js/bootstrap.min.js' %} "></script>
</body>
</html>